@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization;

@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer localizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <form class="forma-inline" asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    @localizer["btn.logout"]
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Registro">
                @localizer["btn.register"]
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Login">
                @localizer["btn.login"]
            </a>
        </li>
    }
</ul>

